<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'index'"
>

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>
<div layout:fragment="content">

    <h1>Welcome!</h1>

    <p>Welcome to Hytio Tech Support! We are a group of technicians happy to help people with computing.</p>

    <p>To start, register and review the following documents:</p>
    <ul>
        <li><a th:href="@{/ticket/create}">Request a support ticket</a></li>
        <li><a th:href="@{/article}">View knowledge base articles</a></li>
    </ul>

</div>
</body>
</html>