footer {
    margin-top: 1em;
}
footer .copyright {
    padding: 1em;
}
footer .debug-info  {
    padding: 1em;
    color: green;
    background-color: black;
    border: 3px solid green;
    overflow: auto;
}

