table.sortable.sortable.sortable th.sorting_asc {
    background-image: url("img/sort_asc.png");
}

table.sortable th.sorting_desc {
    background-image: url("img/sort_desc.png");
}

table.sortable th.sorting_both {
    background-image: url("img/sort_both.png");
}

table.sortable th {
    background-repeat: no-repeat;
    background-position: center right;
}
