table.academic {
    border-collapse: collapse;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
table.academic td, table.academic th {
    padding-left: 0.8em;
    padding-right: 0.8em;
}
table.academic tr th {
    border-top: 2.5px solid black;
    border-bottom: 2px solid black;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}
table.academic tr:nth-child(2) td {
    padding-top: 0.8em;
}
table.academic tr:last-child td {
    padding-bottom: 0.8em;
    border-bottom: 2.5px solid black;
}
table.academic tr td {
    padding-top: 0.8em;
}