<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'customer.details'"
>
<head>
    <title>Customer Details</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Customer</h1>
    <hr/>

    <dl th:object="${customer}">
        <dt>Id</dt>
        <dd th:text="*{id}">2</dd>

        <dt>Full name</dt>
        <dd th:text="*{personalData.name} + ' ' + *{personalData.surname}">John Smith</dd>

        <dt>Email</dt>
        <dd th:text="*{personalData.email}">john@smith.com</dd>

        <dt>Credit card number</dt>
        <dd th:text="*{billingDetails.creditCardNumber}">123456789012</dd>

        <dt>Expiration date</dt>
        <dd th:text="*{billingDetails.expirationDate}">07/2031</dd>

        <dt>CVC</dt>
        <dd th:text="*{billingDetails.cvc}">123</dd>

        <dt>Tickets Opened</dt>
        <dd th:text="${ticketsOpened}">10</dd>
    </dl>
</div>
</body>
</html>
