<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'profile.index'"
>
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Profile</h1>
    <hr/>

    <dl>
        <dt>Name</dt>
        <dd th:text="${customer.personalData.name + ' ' + customer.personalData.surname}">
            Juliane Stingray
        </dd>

        <dt>Tickets opened</dt>
        <dd th:text="${amountOpened}">21</dd>
    </dl>


</div>
</body>
</html>
