<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'profile.index'"
>
<head>
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Profile</h1>
    <hr/>

    <dl>
        <dt>Name</dt>
        <dd th:text="${technician.personalData.name + ' ' + technician.personalData.surname}">
            Chris Moore
        </dd>

        <dt>Date hired</dt>
        <dd th:text="${technician.hireDate}">2020-12-20</dd>

        <dt>Time hired</dt>
        <dd th:with="
                period = ${T(java.time.Period).between(technician.hireDate, T(java.time.LocalDate).now())},
                years = ${period.years},
                months = ${period.months},
                days = ${period.days}"
                th:text="${years} + ' years, ' + ${months} + ' months and ' + ${days} + ' days'">
            1 year, 2 months and 3 days
        </dd>

        <dt>Tickets processed</dt>
        <dd th:text="${amountProcessed}">21</dd>
    </dl>

</div>
</body>
</html>
