<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      th:with="pageName='article.create'"
      layout:decorate="~{shared/template.html}">
<head>
    <meta charset="UTF-8">
    <title>Create Article</title>
</head>
<body><div layout:fragment="content">

    <h1>Add a new article</h1>
    <hr/>

    <form method="post" th:action="@{/article/create}" th:object="${article}">

        <table>
            <tr>
                <th><label for="title">Article title</label></th>
                <td><input id="title" type="text" th:field="*{title}" size="80"></td>
            </tr>

            <tr>
                <th>Products</th>
                <td>
                    <div class="checkbox-group"
                         th:each="product : ${products}"
                         th:with="checkboxId = 'product' + ${product.id}">
                        <input th:id="${checkboxId}"
                               th:field="*{products}"
                               type="checkbox"
                               th:value="${product.id}">
                        <label th:for="${checkboxId}" th:text="${product.name}">IntelliJ Idea</label>
                    </div>
                </td>
            </tr>

            <tr>
                <th><label for="articleText">Article text</label></th>
                <td><textarea id="articleText" th:field="*{text}" rows="10" cols="80"></textarea></td>
            </tr>
        </table>

        <div th:replace="shared/fragments :: formErrors"></div>

        <input type="submit" value="Add an article">

    </form>
</div>
</body>
</html>