<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'article.delete'"
>
<head>
    <title>Delete Article</title>
</head>
<body>
<div layout:fragment="content" th:object="${article}">

    <h1>Article</h1>
    <hr/>

    <h2>Are you sure you want to delete an article?</h2>

    <dl>
        <dt>Title</dt>
        <dd th:text="*{title}">How to exit Vim</dd>

        <dt>Author</dt>
        <dd th:text="*{author.personalData.name} + ' ' + *{author.personalData.surname}">Rajesh Gupta</dd>

        <dt>Products</dt>
        <dd>
            <ul th:each="product : *{products}">
                <li th:text="${product.name}">Vim</li>
            </ul>
        </dd>
    </dl>

    <form method="post" th:action="@{'/article/delete/' + *{urlTitle}}">
        <input type="submit" class="btn-danger" value="Delete"/>
    </form>

</div>
</body>
</html>
