<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName='article.details'"
      th:object="${article}"
>

<head>
    <meta charset="UTF-8">
    <title th:text="*{title}">Article</title>
</head>

<body><div layout:fragment="content">

    <h1 th:text="*{title}">Article Title</h1>
    <hr/>

    <p class="author" th:text="'Author: ' + *{author.personalData.name} + ' ' + *{author.personalData.surname}">
        Author: Adam Mickiewicz
    </p>

    <div class="related-products">
        <p>Related products:</p>
        <ul class="product" th:each="product : *{products}">
            <li th:text="${product.name}">IntelliJ Idea</li>
        </ul>
    </div>

    <pre th:text="*{text}"></pre>

</div></body>
</html>