<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName='article.index'"
>
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
<div layout:fragment="content" th:with="
            articles = ${page.content},
            articlesPresent = ${articles.size() != 0},
            url = @{/article}"
>

    <h1>Support Articles</h1>
    <hr/>

    <form th:replace="shared/fragments :: tableSearchBar"></form>

    <p th:unless="${articlesPresent}">No articles available.</p>

    <table class="academic sortable" th:if="${articlesPresent}">

        <tr >
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'author', 'Author')">Author</th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'title', 'Title')">Title</th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'products', 'Products')">Products</th>
            <th>Actions</th>
        </tr>

        <tr th:each="article : ${articles}" th:object="${article}">
            <td th:text="*{author.personalData.name} + ' ' + *{author.personalData.surname}">Adam Mickiewicz</td>
            <td th:text="*{title}">Pan Tadeusz</td>
            <td>
                <ul class="product-list" th:each="product : *{products}">
                    <li th:text="${product.name}">IntelliJ Idea</li>
                </ul>
            </td>
            <td>
                <a th:href="@{${'/article/details/' + article.urlTitle}}">Read</a>
                <span th:if="${article.author.equals(technician)}">
                    | <a th:href="@{'/article/edit/' + ${article.urlTitle}}">Edit</a>
                    | <a th:href="@{'/article/delete/' + ${article.urlTitle}}">Delete</a>
                </span>
            </td>
        </tr>

    </table>

    <nav th:replace="shared/fragments :: tablePageNavigation(${page}, ${url})"></nav>

    <a sec:authorize="${hasRole('TECHNICIAN')}" th:href="@{/article/create}">Add a new article</a>
</div>
</body>
</html>