<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'error.403'"
>
<head>
    <title>Security Error</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Access Forbidden</h1>
    <h2 th:unless="${#authentication.authenticated}">
        Im afraid i can't let you do that, Dave.
    </h2>
    <h2 th:if="${#authentication.authenticated}"
        th:text="'Im afraid i can\'t let you do that, ' + ${#authentication.name} + '.'">
        Im afraid i can't let you do that, Dave.
    </h2>
    <a th:href="@{/}">Go home</a>

    <div th:replace="shared/fragments :: stacktrace"></div>
</div>
</body>
</html>
