<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'error.404'"
>
<head>
    <title>Not Found</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Not found</h1>
    <p>Try navigating from the home page.</p>
    <a th:href="@{/}">Go Home</a>
    <div th:replace="shared/fragments :: stacktrace"></div>
</div>
</body>
</html>
