<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'customer.index'"
>
<head>
    <title>Customer List</title>
</head>
<body>
<div layout:fragment="content" th:with="
        customers = ${page.content},
        customersPresent = ${customers.size() != 0},
        url = @{/customer}"
>

    <h1>Customers</h1>
    <hr/>

    <form th:replace="shared/fragments :: tableSearchBar"></form>

    <p th:unless="${customersPresent}">No articles available.</p>

    <table class="academic sortable" th:if="${customersPresent}">

        <tr>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.name', 'Name')">Name</th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.surname', 'Surname')">Surname</th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.email', 'Email')">Email</th>
            <th>Actions</th>
        </tr>

        <tr th:each="customer : ${customers}" th:object="${customer}">
            <td th:text="*{personalData.name}">Adam</td>
            <td th:text="*{personalData.surname}">Mickiewicz</td>
            <td th:text="*{personalData.email}">adam.mickiewicz@vu.lt</td>
            <td>
                <a th:href="@{'/customer/details/' + *{id}}">Details</a>
            </td>
        </tr>

    </table>

    <nav th:replace="shared/fragments :: tablePageNavigation(${page}, ${url})"></nav>

</div>
</body>
</html>
