<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'ticket.details.admin'"
>
<head>
    <title>Ticket Details</title>
</head>
<body>
<div layout:fragment="content">

    <h1>Ticket Details</h1>
    <hr/>

    <dl th:object="${ticket}">

        <dt>Id</dt>
        <dd th:text="*{id}">10</dd>

        <dt>Customer</dt>
        <dd>
            <a th:text="*{customer.personalData.name} + ' ' + *{customer.personalData.surname}"
               th:href="@{'/customer/details/' + *{customer.id}}">
                John Smith
            </a>
        </dd>

        <dt>Technician</dt>
        <dd th:if="*{technician} != null" th:text="*{technician.personalData.name} + ' ' + *{technician.personalData.surname}">Steve Wozniak</dd>
        <dd th:unless="*{technician} != null">Not Assigned</dd>

        <dt>Product</dt>
        <dd th:text="*{product}">IntelliJ Idea</dd>

        <dt>Time Opened</dt>
        <dd th:text="*{timeOpened}">2020-12-19</dd>

        <dt>Time Closed</dt>
        <dd th:if="*{timeClosed} != null" th:text="*{timeClosed}">2021-01-20</dd>
        <dd th:unless="*{timeClosed} != null">Not Closed</dd>

        <dt>Type</dt>
        <dd th:text="*{type}">Normal</dd>

        <dt>State</dt>
        <dd th:text="*{state}">Opened</dd>

        <dt>Description</dt>
        <dd th:text="*{description}">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales vel quam sit amet condimentum.
            Aliquam a ligula nisi. Sed malesuada risus id convallis vulputate. Ut sodales eu dolor sed semper. Maecenas
            non pulvinar felis. Pellentesque quis maximus mi. Morbi rhoncus, dui eu imperdiet euismod, ex leo tempus
            lectus, ac blandit nunc justo id ex. Aenean consequat magna in ipsum finibus accumsan. Vivamus malesuada
            mattis justo sed dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Curabitur faucibus mi ut molestie pretium. Etiam euismod tempus nulla egestas sodales.
        </dd>

    </dl>

</div>
</body>
</html>
