<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
    <meta charset="UTF-8">
    <title>Thymeleaf fragments</title>
</head>

<body>

<!-- TODO: test if the expansion of the th:object attribute on the form element works correctly after
      placing the fragment in a page which has a variable named `filter' in its context. -->
<form th:fragment="tableSearchBar" method="get" th:object="${filter}">

    <input type="text" th:field="*{phrase}"/>

    <input type="submit" class="btn btn-primary"/>
    <input type="button" class="btn" onclick="document.getElementById('phrase').value = ''" value="Clear">

</form>

<th th:fragment="sortableTableHeader(url, page, property, title)"
    th:with="sort = ${ page.sort.getOrderFor(property) }"
    th:classappend="${ (sort == null) ? 'sorting_both' : (sort.isAscending() ? 'sorting_asc' : 'sorting_desc') }"
>
    <a th:href="@{${url}(page = ${page.number},
                         size = ${page.size},
                         sort = ${property} + ',' + ${ (sort == null || sort.isDescending()) ? 'ASC' : 'DESC' },
                         phrase = ${param.phrase}
                )}"
       th:text="${title}">
        Column name
    </a>
</th>

<nav th:fragment="tablePageNavigation(page, url)">

    <ul class="pagination" th:if="${page.totalPages > 0}">
        <li class="page-item" th:classappend="${page.first} ? 'disabled'">
            <a class="page-link" th:href="@{${url}(page = ${page.number} - 1, size = ${page.size})}">
                &laquo;
            </a>
        </li>
        <li class="page-item" th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}" th:classappend="${i == page.number} ? 'active'">
            <a class="page-link" th:href="@{${url}(page = ${i}, size = ${page.size})}" th:text="${i + 1}">
                1
            </a>
        </li>
        <li class="page-item" th:classappend="${page.last} ? 'disabled'">
            <a class="page-link" th:href="@{${url}(page = ${page.number} + 1, size = ${page.size})}">
                &raquo;
            </a>
        </li>
    </ul>

    <ul class="pagination" th:with="pageSizes = ${ {10, 25, 50, 100} }">
        <li class="page-item" th:each="size : ${pageSizes}" th:classappend="${page.size == size} ? 'active'">
            <a class="page-link" th:href="@{${url}(page = 0, size = ${size})}" th:text="${size}">20</a>
        </li>
    </ul>

</nav>


<div th:fragment="formErrors">
    <div th:if="${#fields.hasErrors()}">
        <p>Form contains the following errors:</p>
        <ul>
            <li th:each="error: ${#fields.detailedErrors()}"
                th:text="${error.message}"
                class="text-danger"
            ></li>
        </ul>
    </div>
</div>

<div th:fragment="stacktrace">
    <dl th:if="${debugEnabled && exception != null}">
        <dt>Exception</dt>
        <dd th:text="${exception}">Exception</dd>

        <dt>Error</dt>
        <dd th:text="${error}">error</dd>

        <dt>Message</dt>
        <dd th:text="${message}">message</dd>

        <dt>Stack trace</dt>
        <dd><pre th:text="${trace}">Trace</pre></dd>
    </dl>
</div>
</body>
</html>