<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/tables.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" th:href="@{/tables_sort.css}">
    <link rel="stylesheet" th:href="@{/main.css}">

    <title layout:title-pattern="$CONTENT_TITLE"></title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">
        Helpdesk
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text"
                  sec:authorize="isAuthenticated()"
                  th:text="'Welcome ' + ${#authentication.name} + '!'">
                Witaj Dave!
            </span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"
                th:classappend="${pageName == 'article.index'} ? 'active' : ''">
                        <a class="nav-link" th:href="@{/article}">Browse articles</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'article.create'} ? 'active' : ''"
                sec:authorize="hasRole('TECHNICIAN')">
                        <a class="nav-link" th:href="@{/article/create}">Create a new article</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'ticket.index'} ? 'active' : ''"
                sec:authorize="hasAnyRole('TECHNICIAN', 'USER', 'ADMIN')">
                        <a class="nav-link" th:href="@{/ticket}">View your tickets</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'ticket.accept'} ? 'active' : ''"
                sec:authorize="hasRole('TECHNICIAN')">
                        <a class="nav-link" th:href="@{/ticket/accept}">View opened tickets</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'ticket.create'} ? 'active' : ''"
                sec:authorize="hasRole('USER')">
                        <a class="nav-link" th:href="@{/ticket/create}">Create a ticket</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'profile.index'} ? 'active' : ''"
                sec:authorize="hasAnyRole('USER', 'TECHNICIAN')">
                        <a class="nav-link" th:href="@{/profile}">View profile</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'customer.index'} ? 'active' : ''"
                sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" th:href="@{/customer}">View customers</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'technician.index'} ? 'active' : ''"
                sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/technician}">View technicians</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'admin.create_product'} ? 'active' : ''"
                sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/admin/create_product}">Add a new product</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'admin.create_ticket_type'} ? 'active' : ''"
                sec:authorize="hasRole('ADMIN')">
                <a class="nav-link" th:href="@{/admin/create_ticket_type}">Add a new ticket type</a>
            </li>
            <li class="nav-item"
                sec:authorize="isAuthenticated()">
                        <form th:action="@{/auth/logout}" id="logout" th:method="post" style="display: none;"></form>
                        <a href="#" class="nav-link" onclick="document.getElementById('logout').submit()">Log out</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'auth.register'} ? 'active' : ''"
                sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/register}" class="nav-link">Register</a>
            </li>
            <li class="nav-item"
                th:classappend="${pageName == 'auth.login'} ? 'active' : ''"
                sec:authorize="!isAuthenticated()">
                        <a th:href="@{/auth/login}" class="nav-link">Log in</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">

    <div layout:fragment="content">
        This is a content placeholder
    </div>

</div>


<footer class="bg-dark text-light" th:fragment="footer">

    <div class="debug-info" th:if="${debugEnabled}">

        <div th:if="${printUserRoles}">
            <h4>User roles:</h4>

            <ul th:each="role : ${#authentication.getAuthorities()}">
                <li th:text="${role}"></li>
            </ul>
        </div>

        <div th:if="${printSessionAttributes}">
            <h4>Session attributes:</h4>

            <table class="academic">
                <tr><th>Key</th><th>Value</th></tr>
                <tr th:each="attribute : ${session}">
                    <td th:text="${attribute.getKey()}"></td><td th:text="${attribute.getValue()}"></td>
                </tr>
            </table>
        </div>

        <div th:if="${printModelAttributes}">
            <h4>Model attributes:</h4>

            <table class="academic">
                <tr><th>Key</th><th>Value</th></tr>
                <tr th:each="varName : ${#vars.getVariableNames()}">
                    <td th:text="${varName}"></td><td th:text="${#vars.getVariable(varName)}"></td>
                </tr>
            </table>
        </div>

    </div>

    <div class=copyright th:text="'© ' + ${T(java.time.LocalDate).now().getYear()} + ' Hytio Support Company'">
        © 2020 Hytio Support Company
    </div>

</footer>
</body>
</html>