<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'ticket.accept'"
>
<head>
    <title>Accept</title>
</head>
<body>
<div layout:fragment="content" th:with="tickets = ${page.content}, url = @{/ticket}">

    <h1>Tickets</h1>
    <hr/>

    <form th:replace="shared/fragments :: tableSearchBar"></form>

    <p th:if="${tickets.size() == 0}">No tickets in history.</p>

    <table class="academic sortable" th:if="${tickets.size() != 0}">
        <tr>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'customer', 'Customer')">
                Customer
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'product', 'Product')">
                Product
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'description', 'Description')">
                Description
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'timeOpened', 'Time Opened')">
                Time Opened
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'timeClosed', 'Time Closed')">
                Time Closed
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'technician', 'Technician')">
                Technician
            </th>
            <th>Type</th>
            <th>State</th>
            <th>Actions</th>
        </tr>
        <tr th:each="ticket : ${tickets}" th:object="${ticket}">
            <td th:text="*{customer.personalData.name} + ' ' + *{customer.personalData.surname}">Mike Oldfield</td>
            <td th:text="*{product.name}">Cubase Pro</td>
            <td th:text="*{description}">New plugins are not working</td>
            <td th:text="*{#temporals.format(timeOpened, 'yyyy-MM-dd')}">2021-01-01</td>
            <td th:text="*{#temporals.format(timeClosed, 'yyyy-MM-dd')}">2021-01-02</td>
            <td th:text="${(technician != null)} ? (*{technician.personalData.name} + ' ' + *{technician.personalData.surname}) : ''">
                Rajeesh Gupta
            </td>
            <td th:text="*{type.name}">Normal</td>
            <td th:text="*{state.name}">Closed</td>
            <td>
                <a th:href="@{'/ticket/details/' + *{id}}">Details</a>
                <span th:if="${ticket.state.opened}">
                    | <form style="visibility: hidden" th:id="'accept' + *{id}" method="post"
                          th:if="${ticket.state.opened}"
                          th:action="@{'/ticket/accept/' + ${ticket.id}}"></form>
                    <a th:onclick="'document.getElementById(\'accept' + *{id} + '\').submit()'"
                         th:if="${ticket.state.opened}"
                         href="#">
                    Accept</a>
                </span>
            </td>
        </tr>
    </table>

    <nav th:replace="shared/fragments :: tablePageNavigation(${page}, ${url})"></nav>

    <a sec:authorize="hasRole('USER')" th:href="@{/ticket/create}">Create a new ticket</a>

</div>
</body>
</html>
