<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName='ticket.create'"
>
<head>
    <title>Open a ticket</title>
</head>
<body>
<div layout:fragment="content">

    <h2>Create ticket</h2>
    <hr/>

    <form method="post" th:action="@{/ticket/create}" th:object="${ticket}">
        <ul>
            <li>
                <label for="type">Ticket Type</label>
                <select id="type" th:field="*{type}">
                    <option th:each="ticketType : ${ticketTypes}"
                            th:value="${ticketType.id}"
                            th:text="${ticketType.name}">
                        Normal
                    </option>
                </select>
            </li>

            <li>
                <label for="product">Product</label>
                <select id="product" th:field="*{product}">
                    <option th:each="product : ${products}"
                            th:value="${product.id}"
                            th:text="${product.name}">
                        IntelliJ Idea
                    </option>
                </select>
            </li>
            <li>
                <label for="description">Description</label>
                <textarea id="description" th:field="*{description}"></textarea>
            </li>
        </ul>

        <div th:replace="shared/fragments :: formErrors"></div>

        <input type="submit" value="Create" class="btn"/>

    </form>
</div>
</body>
</html>