<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <title th:text="${title}">Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="${title}">Heading</h1>
    <hr/>

    <p th:text="${body}">Message body</p>
    <p>With best regards, <br>Hytio Tech Support team.</p>
</div>
</body>
</html>
