<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'technician.delete'"
>
<head>
    <title>Delete Technician</title>
</head>
<body>
<div layout:fragment="content" th:object="${technician}">

    <h1>Technician</h1>
    <hr/>

    <h2>Are you sure you want to delete a technician?</h2>

    <dl>
        <dt>Full Name</dt>
        <dd th:text="*{personalData.name} + ' ' + *{personalData.surname}">Rajesh Gupta</dd>

        <dt>Email</dt>
        <dd th:text="*{personalData.email}">rejesh@hytio.com</dd>

        <dt>Bank account number</dt>
        <dd th:text="*{bankAccountNumber}">12345678901234567890</dd>

        <dt>Hire Date</dt>
        <dd th:text="*{hireDate}">01-10-2020</dd>
    </dl>

    <form method="post" th:action="@{'/technician/delete/' + *{id}}">
        <input type="submit" class="btn-danger" value="Delete"/>
    </form>
</div>
</body>
</html>
