<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"

      layout:decorate="~{shared/template.html}"
      th:with="pageName = 'technician.index'"
>
<head>
    <title>Technician List</title>
</head>
<body>
<div layout:fragment="content" th:with="
        technicians = ${page.content},
        url = @{/technician}"
>

    <h1>Technicians</h1>
    <hr/>

    <form th:replace="shared/fragments :: tableSearchBar"></form>

    <p th:if="${technicians.size() == 0}">No technicians found.</p>

    <table th:if="${technicians.size() != 0}" class="academic sortable">
        <tr>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.name', 'Name')">
                Name
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.surname', 'Surname')">
                Surname
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'personalData.email', 'Email')">
                Email
            </th>
            <th th:replace="shared/fragments :: sortableTableHeader(${url}, ${page}, 'bankAccountNumber', 'Bank Account')">
                Bank Account
            </th>
            <th>State</th>
            <th>Actions</th>
        </tr>

        <tr th:each="technician : ${technicians}" th:object="${technician}">
            <td th:text="*{personalData.name}">Adam</td>
            <td th:text="*{personalData.surname}">Mickiewicz</td>
            <td th:text="*{personalData.email}">adam.mickiewicz@uv.li</td>
            <td th:text="*{bankAccountNumber}">12345678901234567890</td>
            <td th:text="*{hired} ? 'Active' : 'Fired'">Active</td>
            <td>
                <a th:href="@{'/technician/details/' + *{id}}">Details</a>
                <span th:if="*{hired}"> | <a th:href="@{'/technician/delete/' + *{id}}">Delete</a></span>
            </td>
        </tr>
    </table>

    <nav th:replace="shared/fragments :: tablePageNavigation(${page}, ${url})"></nav>

    <a th:href="@{/technician/create}">Add a technician</a>

</div>
</body>
</html>
